.navbar {
    background-color: rgb(194, 223, 223);
    padding-right: 30px;
    color: black;
}

.navbar-nav:hover {

    color: blue;

}
.logo {
    margin-left: 10px;
    margin-bottom: 30px;
}

.quem-somos {
    background-color:rgb(216, 214, 214);
}

.texto1 {
    padding-bottom: 20px;
}
.margin {
    padding-top: 30px; 
    padding-bottom: 30px;
}

.parceiros {
    background-color: cornflowerblue;
    color: black;
}

.bg-footer {
    background-color: black;
    color: white;
}